@use '../sass-utils/variables' as *;

.form-primary {
    display: flex;
    gap: 1em;

    @media screen and (max-width: 992px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .input-primary {
        width: 50%;
        padding: .7em;

        @media screen and (max-width: 992px) {
            padding: 1em;
            width: 75%;
        }
    }

    .error {
        position: absolute;
        float: left;
        top: 74%;
        font-size: .7em;
        color: red;
    }
}

.cta {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $Desaturated-Blue;
    color: $Light-Grayish-Blue;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-bottom: 1.5em;
        height: 380px;
    }

    .cta-content {
        margin-left: 4em;

        @media screen and (max-width: 992px) {
            margin: 0;
        }

        .cta-title {
            font-size: 1.7em;
            color: $Light-Grayish-Blue;
            margin-bottom: .7em;

            @media screen and (max-width: 992px) {
                font-size: 1.3em;
            }
        }

        .cta-subtitle {
            font-size: .8em;
            max-width: 50%;
            line-height: 1.5em;

            @media screen and (max-width: 992px) {
                 max-width: 330px; 
                 font-size: 1em;
                 margin-bottom: 2em;
            }
        }
    }

    .form-secondary {
        width: 35%;
        margin-right: 8em;
        display: flex;
        flex-direction: column;
        gap: .8em;

        @media screen and (max-width: 992px) {
            width: 100%;
            margin: 0;
            align-items: center;
            gap: .6em;
        }

        .input-secondary {
            width: 80%;
            padding: .8em;
            color: $Light-Gray;

            @media screen and (max-width: 992px) {
                width: 280px;
            }
        }
    }
}
